.bg {
  @apply h-screen bg-[url('/src/assets/images/BG.png')] bg-cover bg-no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.centerBox {
  @apply relative left-2/4 top-2/4 mr-[-50%] h-[494px] w-[403px] -translate-x-2/4 -translate-y-2/4 rounded-[10px] bg-foreground shadow-[2px_4px_6px_rgba(0,0,0,0.06)];
}
.logo {
  @apply relative left-[92px] top-[50px];
}
.midBox {
  @apply relative top-[100px];
}
.forgotPassword {
  @apply float-right text-right font-open-sans text-sm font-normal not-italic leading-[19px] text-[#1a1a1a];
}
.submitBtn {
  @apply absolute bottom-5 w-full;
}
.txtBox {
  @apply flex flex-col items-center justify-center;
}
.txtBox .txt {
  @apply font-inter text-sm font-normal not-italic leading-[17px] text-[#6a6a6a];
}
.verificationBox {
  @apply flex items-center justify-center;
}
