.Dialog {
  @apply relative m-0 w-[40%] overflow-hidden bg-transparent shadow-none !important;
}
.Dialog.Width-60 {
  @apply w-[60%] !important;
}
.Dialog.Width-30 {
  @apply w-[30%] !important;
}
.Dialog.Width-20 {
  @apply w-[20%] !important;
}
.Dialog.Width-55 {
  @apply w-[55%] !important;
}
.height-230 {
  @apply h-[230px];
}
.Dialog .Content {
  @apply flex h-full w-full flex-col justify-evenly rounded-lg bg-white px-4 py-5 shadow-lg !important;
}
.Dialog .Content.NoPadding {
  @apply p-0 !important;
}
.Content .Row {
  @apply grid grid-cols-12;
}
.gap-x3 {
  @apply gap-x-3;
}
.Content .Column-6 {
  @apply col-span-6;
}
.Content .Column-5 {
  @apply col-span-5;
}
.Content .Column-7 {
  @apply col-span-7;
}
.Content .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
  @apply border-0 border-transparent bg-transparent px-0 !important;
}
.Content .MuiOutlinedInput-notchedOutline {
  @apply border-0 border-transparent bg-transparent px-0 !important;
}
.Content .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input:focus {
  @apply border-0 border-transparent bg-transparent !important;
}
.Content .FormInput input::placeholder,
.Content .FormTextarea textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  @apply font-open-sans text-sm font-normal text-secondary opacity-[0.7] !important;
}
.Content .FormInput input:-ms-input-placeholder,
.Content .FormTextarea textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  @apply font-open-sans text-sm text-[#6a6a6a] opacity-100 !important;
}
.Content .FormInput input::-ms-input-placeholder,
.Content .FormTextarea textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  @apply font-open-sans text-sm text-[#6a6a6a] opacity-100 !important;
}
.Content .FormHeader {
  @apply flex w-full !important;
}
.Content .Title {
  @apply font-open-sans text-xl font-semibold text-secondary !important;
}
.Content .FormBody {
  @apply flex w-full flex-col justify-evenly !important;
}
.Content .FormFields {
  @apply mt-3 grid grid-cols-2 gap-3 !important;
}
.Content .FormField {
  @apply mt-3 grid !important;
}
.Content .FormMultipleFields {
  @apply mt-3 flex !important;
}
.Content .FormMultipleFields .FormControl {
  @apply w-[auto] !important;
}
.Content .FormControl {
  @apply m-0 mr-4 w-full !important;
}
.Content .FormLabel {
  @apply font-open-sans text-sm font-normal text-secondary !important;
}
.Content .FormLabel .SubLabel {
  @apply ml-2 font-open-sans text-[0.60rem] font-normal text-[#6A6A6A] !important;
}
.Content .FormInput,
.Content .FormTextarea,
.Content .FormSelect {
  @apply mt-1 rounded-md border border-solid border-secondary px-3 font-open-sans text-sm font-normal text-secondary opacity-[0.7] !important;
}
.Content .FormInput:after,
.Content .FormTextarea:after,
.Content .FormSelect:after {
  @apply border-b-secondary !important;
}
.Content .ImageBox {
  @apply mt-1 flex w-full flex-col !important;
}
.Content .ImageLabel {
  @apply flex w-full rounded-lg border border-dashed border-[#0D54C9] !important;
}
.Content .ImageBtn {
  @apply flex w-full items-center justify-center font-open-sans text-sm font-normal normal-case text-[#0D54C9] !important;
}
.Content .ImageBtn:hover {
  @apply bg-transparent !important;
}
.Content .ShowImageBox {
  @apply mt-3 flex w-fit items-center justify-start rounded-md border border-solid border-foreground px-2 !important;
}
.Content .ShowImageLabel {
  @apply mr-4 font-open-sans text-xs font-normal text-secondary !important;
}
.Content .FormFooter {
  @apply mt-5 flex items-center justify-end;
}
.Chat .ChatHeader {
  @apply flex w-full flex-row items-center !important;
}
.Chat .BackBtn svg {
  @apply w-[25px] text-[#1D1D1D] !important;
}
.Chat .HeaderInfoBox {
  @apply flex w-full flex-row items-start justify-start !important;
}
.Chat .HeaderLogo {
  @apply ml-1 h-[44px] w-[44px] rounded-full !important;
}
.Chat .HeaderInfo {
  @apply flex flex-row items-start justify-start !important;
}
.Chat .HeaderDetails {
  @apply ml-2 flex flex-col items-start justify-start !important;
}
.Chat .HeaderHeading {
  @apply font-open-sans text-xl font-semibold text-secondary !important;
}
.Chat .HeaderCurrentTxt {
  @apply font-open-sans text-sm font-normal text-[#6A6A6A] !important;
}
.Chat .HeaderStatusCircle {
  @apply ml-2 mt-2 h-[10px] w-[10px] rounded-full !important;
}
.HeaderStatusCircle.GreenColor {
  @apply bg-[#29CC97] !important;
}
.Chat .ChatContent {
  @apply flex flex-col !important;
}
.ChatContent .DateStyle {
  @apply flex items-center justify-center font-open-sans text-xs font-normal text-[#6A6A6A] !important;
}
.Chat .ChatHeader {
  @apply flex w-full flex-row items-center !important;
}
.Chat .BackBtn svg {
  @apply w-[25px] text-[#1D1D1D] !important;
}
.Chat .HeaderInfoBox {
  @apply flex w-full flex-row items-start justify-start !important;
}
.Chat .HeaderLogo {
  @apply ml-1 h-[44px] w-[44px] rounded-full !important;
}
.Chat .HeaderInfo {
  @apply flex flex-row items-start justify-start !important;
}
.Chat .HeaderDetails {
  @apply ml-2 flex flex-col items-start justify-start !important;
}
.Chat .HeaderHeading {
  @apply font-open-sans text-xl font-semibold text-secondary !important;
}
.Chat .HeaderCurrentTxt {
  @apply font-open-sans text-sm font-normal text-[#6A6A6A] !important;
}
.Chat .HeaderStatusCircle {
  @apply ml-2 mt-2 h-[10px] w-[10px] rounded-full !important;
}
.HeaderStatusCircle.GreenColor {
  @apply bg-[#29CC97] !important;
}
.Chat .ChatContent {
  @apply flex flex-col !important;
}
.ChatContent .DateStyle {
  @apply flex items-center justify-center font-open-sans text-xs font-normal text-[#6A6A6A] !important;
}
.ChatContent .ChatLeftBox {
  @apply mr-28 flex flex-row items-end justify-start !important;
}
.ChatContent .ChatRightBox {
  @apply ml-28 flex flex-row-reverse items-end justify-start !important;
}
.ChatContent .ChatLogo {
  @apply mr-2 h-[44px] w-[44px] rounded-full !important;
}
.ChatDetails {
  @apply mt-4 border border-solid border-foreground px-3 py-3 shadow-md !important;
}
.ChatLeftBox .ChatDetails {
  @apply rounded-br-lg rounded-tl-lg rounded-tr-lg !important;
}
.ChatRightBox .ChatDetails {
  @apply rounded-bl-lg rounded-tl-lg rounded-tr-lg bg-[#1D1D1D] !important;
}
.ChatContent .ChatTxt {
  @apply flex items-center justify-center font-open-sans text-xs font-normal !important;
}
.ChatLeftBox .ChatTxt {
  @apply text-secondary !important;
}
.ChatRightBox .ChatTxt {
  @apply text-white !important;
}
.ChatContent .ChatTime {
  @apply mt-4 flex items-center justify-end font-open-sans text-xs font-normal !important;
}
.ChatLeftBox .ChatTime {
  @apply text-[#6A6A6A] !important;
}
.ChatRightBox .ChatTime {
  @apply text-[#C9C9C9] !important;
}
.ChatFooter {
  @apply mt-4 rounded-lg border border-foreground p-2 !important;
}
.FormTextarea.NoBorder {
  @apply m-0 border-0 p-0 !important;
}
.ChatFooter .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
  @apply p-0 !important;
}
.ChatBtnBox {
  @apply mt-2 flex w-full items-center justify-between justify-items-center !important;
}
.ChatBtnRightBox {
  @apply flex flex-row items-center justify-items-center !important;
}
.FormControl .css-julti5-MuiSwitch-root {
  @apply h-[26px] w-[50px] rounded-[26px] !bg-transparent p-0;
}
.FormControl .MuiSwitch-switchBase {
  @apply m-0 mt-0.5 p-0 duration-300;
}
.FormControl .MuiSwitch-switchBase.Mui-checked {
  @apply mt-0.5 translate-x-[27px] text-white;
}
.FormControl .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  @apply border-0 bg-[#51b541] opacity-100;
}
.FormControl .MuiSwitch-switchBase.Mui-checked.Mui-disabled + .MuiSwitch-track {
  @apply opacity-50;
}
.FormControl .MuiSwitch-switchBase.Mui-focusVisible .MuiSwitch-thumb {
  @apply border-[6px] border-solid border-white text-[#51b541];
}
.FormControl .MuiSwitch-switchBase.Mui-disabled .MuiSwitch-thumb {
  @apply text-white;
}
.FormControl .MuiSwitch-switchBase.Mui-disabled + .MuiSwitch-track {
  @apply opacity-30;
}
.FormControl .MuiSwitch-thumb {
  @apply box-border h-[22px] w-[22px];
}
.FormControl .MuiSwitch-track {
  @apply rounded-[26] bg-[#e9e9ea] opacity-100 duration-500;
}
.FormControl .DatePicker {
  @apply mt-1 rounded-md border border-solid border-secondary px-3 font-open-sans text-sm font-normal text-secondary opacity-[0.7] !important;
}
.FormControl .DatePicker:after {
  @apply border-b-secondary !important;
}
.FormControl .DatePicker input {
  @apply px-0 py-[4px] font-open-sans text-sm font-normal text-secondary opacity-[0.7] !important;
}
.FormControl .DatePicker button {
  @apply p-0;
}
.FormControl .css-187mznn-MuiSlider-root {
  @apply h-2 text-[#1d1d1d];
}
.FormControl .css-187mznn-MuiSlider-root .css-14pt78w-MuiSlider-rail {
  @apply bg-[#c9c9c9];
}
.FormControl .css-1vj64c4-MuiSlider-root .MuiSlider-track {
  @apply border-[none];
}
.FormControl .MuiSlider-thumb {
  @apply h-6 w-6 border-[6px] border-solid border-current bg-white before:hidden;
}
.FormControl .MuiSlider-thumb:focus,
.FormControl .MuiSlider-thumb:hover,
.FormControl .MuiSlider-thumb.Mui-active,
.FormControl .MuiSlider-thumb.Mui-focusVisible {
  @apply shadow-[inherit];
}
.FormControl .MuiSlider-valueLabel {
  background: unset !important;
  @apply h-[25px] bg-[#c9c9c9] text-xs leading-[1.2px] text-[#1a1a1a];
}

/*.FormControl .MuiSlider-valueLabel:before {
  display: none !important;
}
.FormControl .MuiSlider-valueLabel.MuiSlider-valueLabelOpen {
  transform: translate(50%, -100%) rotate(-45deg) scale(1) !important;
}
.FormControl .MuiSlider-valueLabel > * {
  transform: rotate(45deg) !important;
} */
.FormControl #LabelFileUpload {
  @apply flex h-full cursor-pointer flex-col items-center justify-center rounded-[10px] border border-dashed border-[#0d54c9] p-[15px];
  @apply bg-foreground;
}
.FormControl .FileUploadText,
.FormControl .FileUploadText span {
  @apply !bg-transparent !font-open-sans text-sm font-normal not-italic leading-6 text-[#0f0f0f];
}
.FormControl .UploadButton {
  @apply cursor-pointer border-[none] bg-transparent p-1 font-open-sans text-base font-normal not-italic leading-6 underline hover:underline;
}
.FormControl #InputFileUpload {
  @apply hidden;
}
.FormControl #LabelFileUpload.DragActive {
  @apply bg-foreground;
}
.FormControl .UploadButton {
  font-family: 'Oswald', sans-serif;
}
.FormControl .UploadButton:hover {
  @apply !bg-none;
}
.FormControl #DragFileElement {
  @apply absolute inset-0 h-full w-full rounded-2xl;
}
.CustomToggleBtn {
  @apply ml-0 mr-[5px] h-[30px] rounded-md border border-solid border-[#c9c9c9] border-[none] !bg-white p-2.5 text-center !font-open-sans text-xs font-semibold capitalize not-italic leading-4 text-[#1a1a1a] !outline-none;
}
.CustomToggleBtn.Mui-selected {
  @apply border border-solid border-[#1d1d1d] !bg-[#1d1d1d] text-white;
}
.css-wclgr9-MuiButtonBase-root-MuiTab-root {
  @apply p-0;
}
.Content .FormInput .MuiInputBase-adornedStart {
  @apply m-0 w-auto p-0;
}
.Content .FormInput .MuiInputBase-inputAdornedEnd {
  @apply mt-px px-0 pb-[5px] pt-1;
}
.Content .FormInput .MuiInputAdornment-positionStart,
.Content .FormInput .MuiInputAdornment-positionEnd {
  @apply m-0;
}
.NotificationBatchBox {
  @apply flex flex-col items-center;
}
.NotificationBatchBox .Top {
  @apply mb-5 flex items-center justify-center;
}
.NotificationBatchBox .Mid {
  @apply mb-5 flex w-full shrink-0 flex-row items-center justify-center;
}
.NotificationBatchBox .Bottom {
  @apply flex w-full shrink-0 flex-col items-center justify-center rounded-[10px] bg-[#eeeeee] p-2.5;
}
.NotificationBatchBox .Top .Title {
  @apply text-center text-xl;
}
.NotificationBatchBox .Bottom .Title {
  @apply text-center text-lg capitalize;
}
.NotificationBatchBox .Detail {
  @apply mt-2.5 text-center font-open-sans text-sm font-semibold not-italic leading-[normal] opacity-50;
}
.NotificationBatchBox .Mid .BatchBox {
  @apply flex flex-col items-center justify-center;
}
.NotificationBatchBox .Mid .Separator {
  @apply mx-10 my-0 flex h-28 w-px bg-black opacity-20;
}
.NotificationBatchBox .Mid .BatchBox .BatchValue {
  @apply font-open-sans text-[64px] font-semibold not-italic leading-[normal];
}
.NotificationBatchBox .Mid .BatchBox .BatchHeading {
  @apply font-open-sans text-sm font-semibold capitalize not-italic leading-[normal];
}
