@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-open-sans !important;
}
.MuiInput-root {
  @apply w-full;
}
.MuiFormControl-root:hover,
.MuiInputBase-root:hover,
.MuiOutlinedInput-notchedOutline {
  @apply border-[#E4E4E4] !important;
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover {
  @apply bg-transparent !important;
}

.form-group {
  @apply py-1.5 px-5 !important;
}

.form-group label {
  @apply font-open-sans text-sm font-normal text-[#06152b] opacity-70 !important;
}

.form-group input {
  @apply rounded-xl border-none  bg-[#fff] py-1.5 px-4  font-open-sans text-sm font-normal text-[#1a1a1a] opacity-70 !important;
}
.form-group .MuiFormControl-root {
  @apply my-0 mx-0 py-0 px-0 !important;
}
.form-group .MuiInputBase-root {
  @apply rounded-lg border border-solid border-[#e4e4e4] bg-[#fff] !important;
}
.form-group .MuiButton-contained {
  @apply h-10 w-full rounded-lg bg-[#1d1d1d] text-center font-open-sans text-base font-semibold tracking-tighter text-[#fff] !important;
}

table {
  @apply w-full;
}
table > thead > tr > td,
table > thead > tr > th {
  @apply py-5 pl-4 pr-1 text-left font-open-sans text-xs font-normal text-[#1a1a1a];
}
table > tbody > tr > td,
table > tbody > tr > th {
  @apply py-5 pl-4 pr-1 text-left font-open-sans text-xs font-normal text-[#1a1a1a];
}
table > tbody > tr:nth-child(odd) {
  @apply bg-[#f8f8f8];
}
.avatar-table > thead > tr > td,
.avatar-table > thead > tr > th {
  @apply py-2.5 pr-1 pl-5;
}
.avatar-table > tbody > tr > td,
.avatar-table > tbody > tr > th {
  @apply py-2.5 pr-1 pl-5;
}
table .avatar {
  @apply flex flex-row items-center;
}
table .avatar img {
  @apply mr-2.5 h-10 w-10 rounded-full object-cover;
}

table.table-border > thead > tr > th {
  @apply border-b-2 border-solid border-[#dfe0eb] font-open-sans text-sm font-semibold text-[#1a1a1a];
  /* border-bottom: 1.5px solid #dfe0eb; */
}
table.table-border > tbody > tr {
  @apply relative border-b border-solid border-[#DFE0EB] !important;
}
table.table-border > tbody > tr:nth-child(odd) {
  @apply bg-transparent;
}
table.no-border-table > tbody > tr:nth-child(odd) {
  @apply bg-transparent;
}
table > tbody > tr:last-child {
  border-bottom: none !important;
}
.btn-dot {
  @apply text-[#c5c7cd] !important;
}

.badge {
  @apply rounded-[100px] py-0.5 px-2.5 text-center font-open-sans text-[10px] font-semibold uppercase text-[#fff];
}
.badge-primary {
  @apply bg-[#4283f4];
}
.badge-success {
  @apply bg-[#29cc97];
}
.badge-danger {
  @apply bg-[#f12b2c];
}
.badge-purple {
  @apply bg-[#c367f1];
}
.custom-circle {
  @apply h-2 w-2 rounded-full;
}
.custom-circle.color-primary {
  @apply bg-[#4283f4];
}
.custom-circle.color-success {
  @apply bg-[#29cc97];
}
.custom-circle.color-purple {
  @apply bg-[#c367f1];
}
.modal {
  @apply absolute top-1/2 left-1/2 h-[500px] translate-y-[-50%] translate-x-[-50%] rounded-xl bg-[#fff] p-3 shadow-lg;
}
.modal.w-60 {
  @apply w-3/5;
}
.modal.w-50 {
  @apply w-1/2;
}
.modal.w-45 {
  @apply w-[45%];
}
.modal.w-30 {
  @apply w-1/3;
}
.modal-header {
  @apply my-0 mx-1 flex flex-row items-center justify-between;
}
.modal-header .header-heading-box {
  @apply flex flex-row items-center justify-items-center;
}
.modal-header img {
  @apply mr-2 h-7 w-7 rounded-full;
}
.modal-header .modal-heading {
  @apply font-open-sans text-xl font-semibold text-[#1a1a1a];
}
.modal-header .header-close-btn {
  @apply flex;
}
.modal-header .MuiButtonBase-root {
  @apply p-0;
}
.modal-header .MuiSvgIcon-root {
  @apply w-5 text-[#1d1d1d];
}
.modal-header .header-close-btn button:hover {
  background: transparent !important;
}
.modal-body {
  @apply h-[430px] w-full overflow-y-auto overflow-x-hidden;
}
.modal-body .custom-box {
  @apply my-0 mx-1;
}
/* width */
.modal-body::-webkit-scrollbar {
  @apply w-[2px];
}

/* Track */
.modal-body::-webkit-scrollbar-track {
  @apply bg-[#fff];
}

/* Handle */
.modal-body::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-[#000];
}

/* Handle on hover */
.modal-body::-webkit-scrollbar-thumb:hover {
  @apply bg-[#000];
}
.divider {
  margin: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-width: 0;
  border-style: solid;
  border-color: rgb(201, 201, 201);
}
.vertical {
  border-bottom-width: 0;
  height: auto;
  border-right-width: thin;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  width: 0;
}
.horizontal {
  border-bottom-width: thin;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my10 {
  @apply my-2.5 !important;
}
.title {
  @apply flex text-2xl font-semibold text-[#1A1A1A];
}
.header-user-box {
  @apply flex items-center justify-center;
}
.header-user-box span {
  @apply mr-3 text-right font-open-sans text-sm font-semibold text-[#1a1a1a];
}
.header-user-box img {
  @apply h-11 w-11 rounded-full border-2 border-solid border-[#dfe0eb];
}
.toolbar-style {
  @apply ml-0 py-0 px-0 !important;
}
.toolbar-style .css-i4bv87-MuiSvgIcon-root {
  @apply text-lg text-[#c5c7cd] !important;
}
.icon-btn {
  @apply font-open-sans text-sm font-semibold text-[#1a1a1a] outline-none;
  outline: none !important;
}
.icon-btn:hover,
.back-btn:hover {
  @apply bg-transparent outline-none !important;
  outline: none !important;
}
.icon-btn .MuiTouchRipple-root:focus,
.back-btn .MuiTouchRipple-root:focus {
  @apply bg-transparent outline-none !important;
  outline: none !important;
}
.back-btn {
  @apply font-open-sans text-2xl font-semibold text-[#1D1D1D] outline-none !important;
  outline: none !important;
}
.back-btn .css-i4bv87-MuiSvgIcon-root {
  @apply h-7 text-3xl text-[#1D1D1D] !important;
}

.report-page .MuiButton-contained {
  border-radius: 10px !important;
  font-family: 'Open Sans' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  text-align: center !important;
  background-color: rgba(29, 29, 29, 0.05) !important;
  color: rgba(26, 26, 26, 1) !important;
  padding: 10px 10px !important;
  box-shadow: none !important;
  text-transform: capitalize;
}
.report-page
  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  background: rgba(29, 29, 29, 0.05);
  border-radius: 10px;
  border-radius: 10px !important;
}
.report-page
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px 15px !important;
  margin-right: 15px !important;
  font-family: 'Open Sans' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  text-align: center;
  color: #1a1a1a !important;
}
.report-page .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 0 none !important;
}

.search-grey-outline {
  @apply rounded-xl border border-solid border-[#E4E4E4] py-1 pl-3 !important;
}
.search-grey-outline input {
  @apply font-open-sans text-sm font-normal text-[#6A6A6A];
}
.placeholder-grey input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  @apply font-open-sans text-sm text-[#6a6a6a] opacity-100 !important;
}
.placeholder-grey input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  @apply font-open-sans text-sm text-[#6a6a6a] opacity-100 !important;
}
.placeholder-grey input::-ms-input-placeholder {
  /* Microsoft Edge */
  @apply font-open-sans text-sm text-[#6a6a6a] opacity-100 !important;
}

.btn-black-outline {
  @apply rounded-lg border border-solid border-[#1D1D1D] bg-transparent px-3 text-sm font-normal capitalize text-[#1A1A1A] shadow-none !important;
}
.btn-black-fill {
  @apply rounded-lg border border-solid border-[#1D1D1D] bg-[#1D1D1D] px-4 text-sm font-normal capitalize text-[#FFFFFF] shadow-none !important;
}
.btn-icon .MuiSvgIcon-root {
  @apply mr-1;
}
.select-grey-outline {
  @apply h-10 rounded-lg font-open-sans text-sm font-normal text-[#6A6A6A] !important;
}
.select-grey-outline fieldset {
  @apply border-[#E4E4E4] !important;
}
.select-black-outline {
  @apply rounded-lg font-open-sans text-sm font-normal text-[#1A1A1A] !important;
}
.select-black-outline fieldset {
  @apply border-[#1D1D1D] !important;
}
.MuiSelect-select {
  @apply font-open-sans text-sm font-normal !important;
}
.select-black-outline .MuiSelect-select {
  @apply text-xs text-[#1a1a1a] !important;
}
.select-grey-outline .MuiSelect-select {
  @apply text-[#6A6A6A] !important;
}

#menu- .MuiMenu-paper {
  @apply rounded-lg bg-white shadow-lg !important;
}
#menu- li {
  @apply bg-transparent font-open-sans text-sm font-normal text-[#6A6A6A] !important;
}

#long-menu .MuiMenu-paper {
  @apply rounded-xl border border-solid border-[#e4e4e4] bg-[#fff] shadow-lg !important;

  /* box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.06) !important; */
}
#long-menu ul {
  @apply py-0 px-2.5 !important;
}
#long-menu li {
  @apply border-b-[1px] border-solid border-[#e4e4e4] py-1 px-0 font-open-sans text-[11px] font-normal text-[#6a6a6a] !important;
}
#long-menu li:hover {
  @apply bg-transparent !important;
}
#long-menu li:last-child {
  @apply border-none !important;
}

.txt-center input {
  @apply text-center font-open-sans text-base font-semibold !important;
}
