@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-open-sans !important;
}

/* Global configuration of scroll-bar */
::-webkit-scrollbar {
  @apply w-[3px] rounded-[10px];
}
::-webkit-scrollbar-track {
  @apply bg-[#f1f1f1];
}
::-webkit-scrollbar-thumb {
  @apply rounded-[50px] bg-[#888] hover:bg-[#555];
}
select {
  @apply mr-12 rounded-sm border-[1.5px] border-solid border-[#dfdfdf] bg-[url('./assets//images/dropArrow.svg')] bg-[10px] bg-no-repeat p-4 pr-12;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  /* background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
   */
  background-position-x: 97%;
  background-position-y: 14px;
  outline: none;
}
.MuiInput-root {
  @apply w-full;
}
.fixed-height {
  @apply h-[30px] !border-primary;
}
.css-hz1bth-MuiDialog-container .custom-dialog-width {
  @apply w-[1000px];
}

/* .MuiFormControl-root:hover,
.MuiInputBase-root:hover, */
.MuiFormControl-root.search-grey-outline,
.MuiInputBase-formControl,
.fixed-height {
  @apply border-[rgb(26_26_26_/_30%)];
}
.FormControl textarea {
  @apply border border-solid border-[rgb(26_26_26_/_30%)];
}
.css-1kp21md-MuiFormControl-root-MuiTextField-root {
  @apply border-secondary !important;
}
.MuiOutlinedInput-notchedOutline {
  @apply !border-secondary opacity-30 !outline-none;
}
.css-ahj2mt-MuiTypography-root {
  @apply text-[15px];
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover {
  @apply bg-transparent !important;
}
.form-group {
  @apply px-5 py-1.5 !important;
}
.form-group label {
  @apply font-open-sans text-sm font-normal text-[#06152b] opacity-70 !important;
}
.form-group input {
  @apply rounded-xl border-none bg-[#fff] px-4 py-1.5 font-open-sans text-sm font-normal text-secondary opacity-70 !important;
}
.form-group .MuiFormControl-root {
  @apply mx-0 my-0 px-0 py-0 !important;
}
.form-group .MuiInputBase-root {
  @apply rounded-lg border border-solid border-foreground bg-[#fff] !important;
}
.form-group .MuiButton-contained {
  @apply h-10 w-full rounded-lg bg-[#1d1d1d] text-center font-open-sans text-base font-semibold tracking-tighter text-[#fff] !important;
}
table {
  @apply w-full;
}
table > thead > tr > td,
table > thead > tr > th {
  @apply py-5 pl-4 pr-1 text-left font-open-sans text-xs font-normal text-secondary;
}
table > tbody > tr > td,
table > tbody > tr > th {
  @apply py-5 pl-4 pr-1 text-left font-open-sans text-xs font-normal text-secondary;
}
table > tbody > tr:nth-child(odd) {
  @apply bg-[#f8f8f8];
}
.avatar-table > thead > tr > td,
.avatar-table > thead > tr > th {
  @apply py-2.5 pl-5 pr-1;
}
.avatar-table > tbody > tr > td,
.avatar-table > tbody > tr > th {
  @apply py-2.5 pl-5 pr-1;
}
table .avatar {
  @apply flex flex-row items-center;
}
table .avatar img {
  @apply mr-2.5 h-10 w-10 rounded-full object-cover;
}
table.table-border > thead > tr > th {
  @apply border-b-[1.5px] border-solid border-b-[#dfe0eb];
  @apply border-b-2 border-solid border-faded font-open-sans text-sm font-semibold text-secondary;
}
table.table-border > tbody > tr {
  @apply border-b-[1.5px] border-solid border-b-[#dfe0eb];
  @apply relative border-b border-solid border-faded !important;
}
table.table-border > tbody > tr:nth-child(odd) {
  @apply bg-transparent;
}
table.no-border-table > tbody > tr:nth-child(odd) {
  @apply bg-transparent;
}
table > tbody > tr:last-child {
  @apply border-b-[none];
}
.btn-dot {
  @apply text-[#c5c7cd] !important;
}
.badge {
  @apply rounded-[100px] px-2.5 py-0.5 text-center font-open-sans text-[10px] font-semibold uppercase text-[#fff];
}
.badge-primary {
  @apply bg-[#4283f4];
}
.badge-success {
  @apply bg-[#29cc97];
}
.badge-danger {
  @apply bg-[#f12b2c];
}
.badge-purple {
  @apply bg-[#c367f1];
}
.badge-w-100 {
  @apply h-5 w-[100px];
}
.custom-circle {
  @apply h-2 w-2 rounded-full;
}
.custom-circle.color-primary {
  @apply bg-[#4283f4];
}
.custom-circle.color-success {
  @apply bg-[#29cc97];
}
.custom-circle.color-purple {
  @apply bg-[#c367f1];
}
.modal {
  @apply absolute left-1/2 top-1/2 h-[500px] translate-x-[-50%] translate-y-[-50%] rounded-xl bg-[#fff] p-3 shadow-lg;
}
.modal.w-60 {
  @apply w-3/5;
}
.modal.w-50 {
  @apply w-1/2;
}
.modal.w-45 {
  @apply w-[45%];
}
.modal.w-30 {
  @apply w-1/3;
}
.modal-header {
  @apply mx-1 my-0 flex flex-row items-center justify-between;
}
.modal-header .header-heading-box {
  @apply flex flex-row items-center justify-items-center;
}
.modal-header img {
  @apply mr-2 h-7 w-7 rounded-full;
}
.modal-header .modal-heading {
  @apply font-open-sans text-xl font-semibold text-secondary;
}
.modal-header .header-close-btn {
  @apply flex;
}
.modal-header .MuiButtonBase-root {
  @apply p-0;
}
.modal-header .MuiSvgIcon-root {
  @apply w-5 text-[#1d1d1d];
}
.modal-header .header-close-btn button:hover {
  @apply !bg-transparent;
}
.modal-body {
  @apply h-[430px] w-full overflow-y-auto overflow-x-hidden;
}
.modal-body .custom-box {
  @apply mx-1 my-0;
}

/* width */
.modal-body::-webkit-scrollbar {
  @apply w-[2px];
}

/* Track */
.modal-body::-webkit-scrollbar-track {
  @apply bg-[#fff];
}

/* Handle */
.modal-body::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-[#000];
}

/* Handle on hover */
.modal-body::-webkit-scrollbar-thumb:hover {
  @apply bg-[#000];
}
.divider {
  @apply m-0 shrink-0 border-0 border-solid border-foreground;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
}
.vertical {
  @apply h-auto w-0 self-stretch border-b-0 border-r-[thin];
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
}
.horizontal {
  @apply my-1 border-b-[thin];
}
.my10 {
  @apply my-2.5 !important;
}
.title {
  @apply flex text-2xl font-semibold text-secondary;
}
.header-user-box {
  @apply flex items-center justify-center;
}
.header-user-box span {
  @apply mr-3 text-right font-open-sans text-sm font-semibold text-secondary;
}
.header-user-box img {
  @apply h-11 w-11 rounded-full border-2 border-solid border-foreground;
}
.toolbar-style {
  @apply !ml-0 !px-0 !py-0;
}
.toolbar-style .css-i4bv87-MuiSvgIcon-root {
  @apply !text-lg !text-[#c5c7cd];
}
.icon-btn {
  @apply font-open-sans text-sm font-semibold text-secondary !outline-none;
}
.icon-btn:hover,
.back-btn:hover {
  @apply !bg-transparent !outline-none;
}
.icon-btn .MuiTouchRipple-root:focus,
.back-btn .MuiTouchRipple-root:focus {
  @apply !bg-transparent !outline-none;
}
.back-btn {
  @apply !font-open-sans !text-2xl !font-semibold !text-[#1D1D1D] !outline-none;
}
.back-btn .css-i4bv87-MuiSvgIcon-root {
  @apply !h-7 !text-3xl !text-[#1D1D1D];
}
.report-page .MuiButton-contained {
  @apply rounded-[10px] bg-[rgba(29,29,29,0.05)] p-2.5 text-center !font-open-sans text-xs font-normal capitalize not-italic leading-4 text-[rgba(26,26,26,1)] shadow-none;
}
.report-page
  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  @apply rounded-[10px] bg-[rgba(29,_29,_29,_0.05)];
}
.report-page
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  @apply mr-[15px] px-[15px] py-2.5 text-center !font-open-sans text-xs font-normal not-italic leading-4 text-[#1a1a1a];
}
.report-page .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  @apply border-0 border-none;
}
.search-grey-outline {
  @apply rounded-xl border border-solid border-secondary py-1 pl-3 !important;
}
.search-grey-outline input {
  @apply font-open-sans text-sm font-normal text-[#6A6A6A];
}
.placeholder-grey input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  @apply font-open-sans text-sm text-[#6a6a6a] opacity-100 !important;
}
.placeholder-grey input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  @apply font-open-sans text-sm text-[#6a6a6a] opacity-100 !important;
}
.placeholder-grey input::-ms-input-placeholder {
  /* Microsoft Edge */
  @apply font-open-sans text-sm text-[#6a6a6a] opacity-100 !important;
}
.btn-black-outline {
  @apply rounded-lg border border-solid border-secondary bg-transparent px-3 text-sm font-normal capitalize text-secondary shadow-none !important;
}
.btn-black-fill {
  @apply rounded-lg border border-solid border-secondary bg-[#1D1D1D] px-4 text-sm font-normal capitalize text-[#FFFFFF] shadow-none !important;
}
.btn-gray-fill {
  @apply rounded-lg border border-solid border-secondary bg-[#808080] px-4 text-sm font-normal capitalize text-[#FFFFFF] shadow-none !important;
}
.btn-icon .MuiSvgIcon-root {
  @apply mr-1;
}
.select-grey-outline {
  @apply h-10 rounded-lg font-open-sans text-sm font-normal text-[#6A6A6A] !important;
}
.select-grey-outline fieldset {
  @apply border-foreground !important;
}
.select-black-outline {
  @apply rounded-lg font-open-sans text-sm font-normal text-secondary !important;
}
.select-black-outline fieldset {
  @apply border-secondary !important;
}
.MuiSelect-select {
  @apply !font-open-sans !text-sm !font-normal;
}
.select-black-outline .MuiSelect-select {
  @apply !text-xs !text-secondary;
}
.select-grey-outline .MuiSelect-select {
  @apply !text-[#6A6A6A];
}
#menu- .MuiMenu-paper {
  @apply !rounded-lg !bg-white !shadow-lg;
}
#menu- li {
  @apply !bg-transparent !font-open-sans !text-sm !font-normal !text-[#6A6A6A];
}
#long-menu .MuiMenu-paper {
  @apply !rounded-xl !border !border-solid !border-foreground !bg-white !shadow-lg;

  /* box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.06) !important; */
}
#long-menu ul {
  @apply px-2.5 py-0 !important;
}
#long-menu li {
  @apply border-b-[1px] border-solid border-foreground px-0 py-1 font-open-sans text-[11px] font-normal text-[#6a6a6a] !important;
}
#long-menu li:hover {
  @apply bg-transparent !important;
}
#long-menu li:last-child {
  @apply border-none !important;
}
.txt-center input {
  @apply text-center font-open-sans text-base font-semibold !important;
}
.custom-tab {
  @apply border-b-[0.5px] border-solid;
  @apply border-foreground;
}
.css-1ujnqem-MuiTabs-root {
  @apply mx-4 !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  @apply font-open-sans text-base font-normal capitalize text-[#6a6a6a] !important;
}
.custom-tab .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  @apply font-semibold text-secondary !important;
}
.css-1aquho2-MuiTabs-indicator {
  @apply h-[1px] bg-[#1D1D1D] !important;
}
.custom-schedule-tab {
  @apply flex items-center justify-center border-b-[0.5px] border-solid border-b-[#e4e4e4];
}
.custom-schedule-tab .css-1ujnqem-MuiTabs-root {
  @apply min-h-[40px];
}
.custom-schedule-tab .css-wclgr9-MuiButtonBase-root-MuiTab-root {
  @apply min-h-0 border-0 border-none p-0 text-sm font-semibold capitalize not-italic leading-[19px] text-[#6a6a6a];
  font-family: 'Open Sans';
}
.custom-schedule-tab .css-wclgr9-MuiButtonBase-root-MuiTab-root.Mui-selected {
  @apply border-0 border-none text-[#1a1a1a];
}
.custom-schedule-tab .css-i4bv87-MuiSvgIcon-root {
  @apply m-0 h-[1.2rem] w-[1.2rem];
}
.custom-schedule-tab .MuiTab-iconWrapper {
  @apply m-0;
}
.custom-schedule-tab .css-1aquho2-MuiTabs-indicator {
  @apply hidden;
}
.custom-schedule-tab .tab-divider {
  @apply mx-6 my-0 h-[22px] min-h-[10px] w-0 min-w-[1px] border border-solid border-[#e4e4e4] p-0;
}

/* Calendar Styling*/
.rdrDefinedRangesWrapper {
  @apply hidden;
}
.rdrDateDisplayWrapper {
  @apply hidden;
}
.rdrDateRangePickerWrapper.settingPage {
  @apply rounded-[10px] shadow-[0px_5px_10px_rgba(0,0,0,0.1)];
  @apply bg-foreground;
}
.rdrDateRangePickerWrapper.settingPopup .rdrCalendarWrapper {
  @apply text-[10px];
}
.rdrDateRangePickerWrapper.settingPopup .rdrMonthAndYearWrapper {
  @apply mb-0 h-[54px] border-b border-solid pb-1.5 pt-0;
  @apply border-foreground;
}
.rdrMonthAndYearWrapper {
  @apply mb-5 h-[60px];
}
.rdrDateRangeWrapper .rdrMonthAndYearPickers select {
  @apply px-2.5 py-0 text-left text-base font-semibold not-italic leading-[25px] text-[#1a1a1a];
  background: transparent !important;
  font-family: 'Open Sans';
}
.rdrMonthName {
  @apply hidden text-xs font-semibold not-italic leading-4 text-[#1a1a1a];
}
.rdrCalendarWrapper {
  @apply rounded-[10px];
}
.rdrDateRangePickerWrapper.settingPopup .rdrMonth {
  @apply mt-5;
}
.rdrMonthName {
  font-family: 'Open Sans';
}
.rdrWeekDays .rdrWeekDay {
  @apply text-xs font-semibold not-italic leading-4 text-[#1a1a1a];
  font-family: 'Open Sans';
}
.rdrDays {
  @apply mt-2.5;
}
.rdrDay {
  @apply text-[#1a1a1a];
}
.rdrDay .rdrDayNumber > span {
  @apply text-center text-sm font-normal not-italic leading-5 text-[#1a1a1a];
  font-family: 'Open Sans';
}
.rdrDayPassive .rdrDayNumber > span {
  @apply text-[#e4e4e4];
}
.rdrDayStartOfWeek .rdrStartEdge {
  @apply text-[rgba(29,29,29,0.1)];
}
.rdrDay .rdrInRange {
  @apply text-[rgba(29,29,29,0.1)];
}
.rdrDayEndOfWeek .rdrEndEdge {
  @apply text-[rgba(29,29,29,0.1)];
}
.rdrDayToday .rdrInRange {
  @apply rounded-[5px] text-[#1d1d1d];
}
.rdrDayToday:not(.rdrDayPassive).rdrDayToday .rdrInRange ~ .rdrDayNumber span {
  @apply text-white;
}
.rdrDayToday .rdrDayNumber span:after {
  background: transparent !important;
}
.rdrDayToday .rdrDayNumber {
  @apply rounded-[5px];
  background: #1d1d1d;
}
.rdrDayToday .rdrDayNumber span {
  @apply text-white;
}
.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span {
  @apply text-[#1a1a1a];
}

/* End of Calendar Styling*/

/* Schedulling Table Style*/
table.schedule-table > thead > tr > th {
  @apply border-0 border-none py-0 text-sm font-semibold not-italic leading-[19px] text-[#1a1a1a];
  font-family: 'Open Sans';
}
table.schedule-table > tbody > tr > td {
  @apply border-spacing-[0.125rem_0.125rem] border-b border-t border-solid border-y-[#c9c9c9] py-1.5 last:rounded-br-[10px] last:rounded-tr-[10px] last:border-r last:border-solid last:border-r-[#c9c9c9];
  @apply bg-foreground;
}
table.schedule-table > tbody > tr > td:nth-child(1) {
  @apply border-[none] !bg-transparent font-dm-sans text-base font-medium not-italic leading-[0px] text-black;
}
table.schedule-table > tbody > tr > td:nth-child(2) {
  @apply rounded-bl-[10px] rounded-tl-[10px] border-l border-solid border-l-[#c9c9c9];
}
table.schedule-table > tbody > tr.days-off > td {
  @apply border-[#f12b2c] bg-[rgba(241,_43,_44,_0.2)];
}
.badge-blue {
  @apply rounded border border-blue-700 bg-blue-400;
}
.badge-purple {
  @apply rounded border border-purple-700 bg-purple-400;
}
.badge-green {
  @apply rounded border border-green-700 bg-green-400;
}
.badge-orange {
  @apply rounded border border-orange-700 bg-orange-400;
}
.badge-yellow {
  @apply rounded border border-yellow-700 bg-yellow-400;
}
.badge-red {
  @apply rounded border border-red-700 bg-red-400;
}
.map-label-styling {
  @apply bottom-[5px] z-[5] mt-[60px] font-[bold] text-['0.8rem'];
}

/* End Schedulling Table Style*/
.coming-soon {
  @apply min-h-[calc(100vh_-_88px)];
  @apply flex items-center justify-center;
}
.coming-soon .content {
  @apply flex flex-col items-center;
}
.coming-soon .content .icon {
  @apply w-[110px];
}
.coming-soon .content .text {
  @apply mb-0 text-4xl font-normal text-[rgb(0_0_0_/_30%)];
}
.no-map-location {
  @apply flex h-full items-center justify-center;

  /* min-height: calc(100vh - 100px); */
}
.no-map-location .content {
  @apply flex flex-col items-center;
}
.no-map-location .content .icon {
  @apply w-[110px];
}
.no-map-location .content .text {
  @apply mb-0 text-xl font-normal text-[rgb(0_0_0_/_30%)];
}
.left-sidebar .sidebar-footer-content {
  @apply mt-auto;
}
.sidebar-footer-content .share-via {
  @apply px-[30px] py-0;
}
.left-sidebar .sidebar-footer-content .share-via .heading {
  @apply mb-3 text-base font-semibold leading-[117.182%] text-white;
}
.left-sidebar .sidebar-footer-content .share-via .social-icons {
  @apply mb-4 flex items-center gap-x-2.5;
}
.left-sidebar .sidebar-footer-content .share-via .social-icons .social-btn {
  @apply text-[color:var(--light-200)];
  @apply p-0;
}
.left-sidebar .sidebar-footer-content .share-via hr {
  @apply border-t-[0.5px] border-solid border-t-[color:var(--light-400)];
}
.left-sidebar .sidebar-footer-content .share-via .link {
  @apply text-sm font-normal leading-[1.4] text-[color:var(--light-600)];
  @apply block;
}
.left-sidebar .sidebar-footer-content .logout-link {
  @apply bg-transparent text-base font-normal text-[color:var(--light-600)] transition-all duration-[0.3s];
  @apply flex w-full items-center gap-x-4 px-7 py-3;
}
.left-sidebar .sidebar-footer-content .logout-link:active,
.left-sidebar .sidebar-footer-content .logout-link:focus {
  @apply bg-[#c9c9c91a] font-semibold text-white;
}
.left-sidebar .sidebar-footer-content .logout-link .icon {
  @apply text-[color:var(--dark-300)] transition-all duration-[0.3s];
  @apply h-auto w-5 rotate-180;
}
.left-sidebar .sidebar-footer-content .logout-link:active .icon,
.left-sidebar .sidebar-footer-content .logout-link:focus .icon {
  @apply text-white;
}
.css-46bh2p-MuiCardContent-root {
  @apply p-2.5;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  @apply p-1.5 text-xs;
}
.css-b3dvpx-MuiStack-root {
  @apply overflow-hidden pt-[0%];
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  @apply rounded-[5px] border-2 border-solid border-[grey] p-[5px] text-[1px];
}
.css-13bvbr1-MuiStack-root > :not(style) + :not(style) {
  @apply mt-[1%];
}
label + .css-1aa5qj0-MuiInputBase-root-MuiInput-root {
  @apply mt-[0%];
}
.category-tab-content
  .sub-category
  .accordian-summary[aria-expanded='false']
  .avatar {
  @apply hidden;
}
.category-tab-content
  .sub-category
  .accordian-summary[aria-expanded='false']
  .badge {
  @apply hidden;
}
.category-tab-content
  .sub-category
  .accordian-summary[aria-expanded='false']
  .item-detail {
  @apply hidden;
}
.category-tab-content .MuiPaper-elevation {
  @apply m-0 shadow-none;

  /* @apply  !important; */
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.Mui-expanded.MuiAccordion-gutters.css-1uh1gum-MuiPaper-root-MuiAccordion-root {
  @apply bg-misc !important;

  /* opacity: 0.5; */
}
.category-tab-content .MuiPaper-elevation::before {
  background: none !important;
}
.category-tab-content .accordian-detail {
  @apply border-t-[0.5px] border-solid border-t-[#949eae] px-0 py-2.5;
}
.category-tab-content .MuiCollapse-vertical {
  @apply px-2 py-0;
}
.category-tab-content .MuiAccordionSummary-content {
  @apply mx-0 my-2.5;
}
.category-tab-content
  .sub-category
  .accordian-summary[aria-expanded='true']
  .MuiAccordionSummary-expandIconWrapper {
  @apply mt-[-25px];
}
.Dialog.width90p {
  @apply w-[90%];
}
.Content.Main-Content {
  @apply p-0;
}
.Main-Content .Heading {
  @apply block p-[15px] font-open-sans text-[22px] font-bold;
}
.Content-Table {
  @apply block max-h-[calc(100vh_-_80px)];
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  @apply w-[648px] max-w-none;
}
.customheight {
  @apply m-auto max-w-[25rem];
}
.custom-width-80 {
  @apply w-4/5;
}
@media only screen and (max-width: 1023.98px) {
  .left-sidebar {
    @apply top-20 w-[250px] translate-x-[-300px] px-0 py-5;
  }
  body.sidebar-opened .left-sidebar {
    @apply translate-x-0;
  }
}

/* print-css */
.print-area {
  @apply m-auto max-w-[400px] px-[23px] py-0 !font-roboto-mono;
}
.print-area .print-logo {
  @apply mx-auto mb-[18px] mt-0 w-[150px];
}
.print-area .print-logo img {
  @apply max-w-full object-contain;
}
.print-area .print-title {
  @apply mx-auto mb-3 mt-0 max-w-[143px] text-center text-sm font-semibold not-italic leading-[normal] text-black;
}
.print-area .print-single-row {
  @apply m-auto w-full text-start text-[10px] font-semibold not-italic leading-[117.182%] text-black;
}
.print-area .print-date {
  @apply mb-2.5 text-center;
}
.print-area .rowss .col-2 .date-right {
  @apply pl-[50px];
}
.print-area .print-row {
  @apply m-0 flex w-full items-center justify-between;
}
.print-area .print-row .col-1 {
  @apply w-6/12;
}
.print-area .print-row .col-2 {
  @apply w-6/12 text-end;
}
.print-area span {
  @apply block;
}
.print-area .rowss {
  @apply mb-2;
}
.print-area .print-row .col-1 span {
  @apply mb-1.5 block text-[10px] font-medium not-italic leading-[117.182%] text-black;
}
.print-area .print-row .col-2 span {
  @apply mb-1.5 block text-[10px] font-semibold not-italic leading-[117.182%] text-black;
}
.print-area .print-banker {
  @apply w-full;
}
.print-area .print-banker ul {
  @apply m-0 p-0;
}
.print-area .print-banker ul li {
  @apply mb-[5px] flex items-center justify-between;
  list-style: none;
  font-family: 'Roboto Mono' !important;
}
.print-area .print-banker ul li span {
  @apply block text-[10px] font-semibold not-italic leading-[117.182%] text-black;
}
.print-area .print-banker ul li label {
  @apply text-[10px] font-medium not-italic leading-[117.182%] text-black;
}
.print-quote {
  @apply mx-auto my-[15px] w-full text-center text-[10px] font-semibold not-italic leading-[117.182%] text-black;
}
.print-area .print-barccode {
  @apply flex w-full justify-center text-center;
}
.print-area .print-line {
  @apply mx-0 my-[7px] h-px border-t-2 border-dotted border-t-black px-0 py-0.5;
}
.print-area .straight {
  @apply border-t border-solid border-t-[#6a6a6a];
}
.print-area ::placeholder {
  @apply text-black opacity-100;

  /* Firefox */
}
.print-area ::-ms-input-placeholder {
  @apply text-black;

  /* Edge 12-18 */
}
.print-area table {
  @apply w-full;
}
.print-area table tr th {
  @apply pb-2.5 text-left !font-roboto-mono text-[10px] font-semibold not-italic leading-[117.182%] text-black;

  /* width: 33%; */
}
.print-area table tr th:nth-child(2) {
  @apply text-center;
}
.print-area table tr th:nth-child(3) {
  @apply text-right;
}
.print-area table tr {
  @apply w-full;
}
.print-area table tr td {
  @apply text-left text-[10px] font-medium not-italic leading-[117.182%] text-black;
}
.print-area table tr td:nth-child(2) {
  @apply text-center;
}

/* .print-area table tr td:nth-child(3){
  text-align:center;
} */
.print-area table tr td:nth-child(3) {
  @apply text-right;
}

/* invocie css */
.print-invoice {
  @apply mt-20 w-full max-w-full;
}
.print-invoice .rounded-lg {
  @apply rounded-md;
}

/* .print-invoice .shadow-lg {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
} */

.print-invoice .font-bold {
  @apply font-[bold];
}

.print-invoice .text {
  @apply text-[#252733];
}

.print-invoice .table-border {
  @apply w-full border-collapse border-spacing-0;
}
.print-invoice .table-auto th,
.print-invoice .table-auto td {
  @apply border border-solid border-slate-200 p-3 text-left;
}
.iv-padding {
  @apply px-5 py-2.5;
}
.iv-item-right {
  @apply flex justify-end;
}
.iv-tot-cost {
  @apply rounded-[10px] border border-solid border-[#ccc] p-[15px];
}
.iv-mtop {
  @apply mt-5;
}
.iv-mbot {
  @apply mb-5;
}
.iv-notes {
  @apply max-w-[80%] rounded-[10px] border border-solid border-[#ccc] p-[15px];
}
.bor-right {
  @apply border-r border-solid border-r-black;
}

/* error text color */
.error-color {
  @apply text-xs text-[red];
}

/* image modal */
.modal-image {
  @apply fixed left-0 top-0 h-full w-full items-center justify-center bg-[rgba(0,0,0,0.8)];
}

/* Style for the modal content (the image) */
.modal-content-image {
  @apply max-h-[80%] max-w-[80%];
}

/* Style for the close button */
.close-image {
  @apply absolute right-[15px] top-[15px] cursor-pointer text-2xl text-white;
}
.toolbar-style {
  @apply mx-auto;
}
/* .css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop  {
} */
/* .MuiModal-root.css-zw3mfo-MuiModal-root-MuiDialog-root .MuiBackdrop-root.MuiModal-backdrop.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop .css-hz1bth-MuiDialog-container .custom-image-dialog{
  background-color: red !important;
} */

/* .css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop{
  background-color: #7a1d1d !important;
} */

/* .MuiBackdrop-root.MuiModal-backdrop.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
  background: ;
} */
.MuiBackdrop-root.MuiModal-backdrop
  .MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container {
  @apply bg-[aquamarine];
}
.topbar-dd:hover {
  @apply bg-[#e8e8e8] transition-[0.4s];
}
.left-sidebar {
  @apply bg-primary text-foreground !important;
}
.left-sidebar .font-open-sans {
  @apply text-foreground !important;

  /* opacity: 0.5; */
}
main {
  @apply bg-background text-secondary !important;
}
.left-sidebar ul div a [aria-current]:not([aria-current='false']) {
  @apply bg-faded;
}
.btn-black-fill,
.btn-gray-fill {
  @apply border-primary bg-primary text-foreground !important;
}
.btn-black-outline {
  @apply border-primary text-primary opacity-[1] !important;
}
.bg-ord-del {
  @apply bg-primary text-foreground !important;
}
.bg-ord-del div {
  @apply text-foreground !important;
}
.btn-grey {
  @apply bg-foreground text-secondary !important;
}
.text-grey {
  @apply text-foreground !important;
}
.bg-grey-icon {
  @apply bg-foreground !important;
}
.grey-icon {
  @apply text-secondary !important;
}
.Content .FormInput,
.Content .FormTextarea,
.Content .FormSelect {
  @apply border-[rgb(26_26_26_/_30%)];
}
/* .border-opacity{
  border: solid rgba(106, 106, 106, 0.502) !important;
} */

/* header {
  @apply bg-primary text-foreground !important;
} */
/* .MuiBox-root main {
  @apply bg-background !important;
} */
/* .MuiBox-root main header{
  @apply bg-primary text-foreground !important;
} */
/* new styling */
/* main header {
  position: fixed !important;
  left: 0 !important;
  z-index: 111111;
  top: 0;
}
main header .container:first-child {
max-width: 100%;

}
main .container:nth-child(2){
  margin-top: 0 !important;
}
main .container:nth-child(3){
  margin-top: 6rem !important;
} */
.otp-v input {
  @apply border border-solid border-[#949eae] text-4xl font-semibold leading-[normal];
}
.otp-v:before {
  @apply border-b-[none] transition-none;
}
.otp-v:after {
  @apply border-b-[none] transition-none;
}
